%section.new_session.content
  - unless alert.blank?
    .callout.warning
      %p= alert
    
  
  - unless notice.blank?
    .callout.success
      %p= notice
    
  
  = form_tag do
    .field
      = label_tag :email, 'E-Mail'
      = email_field_tag :email, params[ :email ], placeholder: 'hanna.muster@hier.de'
    
    .field
      = label_tag :password, 'Password'
      = password_field_tag :password, params[ :password ]
    
    .actions.clearfix
      = submit_tag 'Login', |
            class: 'button'
      &nbsp;&nbsp;&nbsp;&nbsp;
      = link_to 'Hab noch keinen...', new_account_path

