Hallo <%= @chapter.author.name %>,

wollte nur kurz Bescheid geben, dass jemand eine Fortsetzung in der Geschichte mit deinem Kapitel
"<%= @chapter.teaser %>"
veröffentlicht hat...

Hier findest du sie:
<%= @url %>

So geht es los...
-
<%= truncate( @new_chapter.content, length: 750 ) %>
