= form_for [ @chapter, @subscription ] do |f|
  - if @subscription.errors.any?
    #error_explanation
      %h2= "#{@subscription.errors.count} Fehler beim Speichern dieses Abonnements:"
      %ul
        - @subscription.errors.full_messages.each do |message|
          %li= message
        
      
    
  = f.hidden_field :chapter_id
  
  .field
    = f.label :email
    = f.email_field :email
  
  .field
    = f.label :checker, "Was ist #{@chapter.previous_chapters.size + 1} plus #{@chapter.id}?"
    = f.text_field :checker, placeholder: 'Müllschutzfrage ;-)'
  
  .actions
    = f.submit 'Abonnieren', class: 'button'
    &nbsp;&nbsp;
    = cancel_action
  

