.content
  %h1 Geschafft!
  
  %p.help
    Du hast das Kapitel
    %br
    %strong= @subscription.chapter.teaser
    %br
    abonniert.
  
  %p
    %strong Es hat alles geklappt!
    %br
    Wir senden dir eine E-Mail, sobald die Geschichte weitergeht...
  
  %br
  %br
  %p.help
    Oder
    = button_to 'Abo löschen', @subscription, method: :delete, class: 'button'
   

