- if @chapter
  - link = url_for( @chapter ) + "#ch#{@chapter.token}_actions"
- else
  - link = chapters_path

- cancel_action = link_to 'Abbrechen', link

.content
  - if @chapter
    = render 'chapters/chapter_detail', chapter: @chapter, is_previous: true
    
    %p{ id: "ch#{@chapter.token}_subscription" }
      %em Es gibt noch kein weiteres Kapitel.
    
    %p.help
      Du kannst dir aber den Link dazu schicken lassen, wenn ein nächstes Kapitel veröffentlicht wird.
    
    %br
    %h3 Kapitel abonnieren
    
  - else
    %p.help
      Beginne deine neue Geschichte mit einem spannenden Titel.
    
  
  = render 'form', cancel_action: cancel_action
  

