.content
  %h1 Prima!
  
  %p
    Du hast das Kapitel
    %br
    %strong= @subscription.chapter.teaser
    %br
    abonniert.
  
  %p.help
    Wir haben dir eine E-Mail zur Bestätigung an
    %br
    = @subscription.email
    %br
    gesendet.
  
  %p.help
    Bitte klicke
    %strong zur Bestätigung den Link
    in der E-Mail an. Schau doch auch in deinem Spam-Postfach, falls keine E-Mail angekommen sein sollte.
  
  %br
  %br
  %p.help Zurück zum Kapitel
  %p= link_to @subscription.chapter.teaser, @subscription.chapter
  %p.help
    oder
    = button_to 'Abo löschen', @subscription, method: :delete, class: 'button danger'
   

