- is_previous = h_partial_init( is_previous, false )

.chapter_detail{ class: chapter.status, id: "ch#{chapter.token}" }
  .teaser{ id: "ch#{chapter.token}_teaser" }
    - if chapter.draft?
      .draft_label Entwurf
    
    = chapter.teaser
  
  .text_content
    = h_markdown chapter.content
    
  - if chapter.audio_file.attached?
    .audio_file
      %audio{ controls: true, src: url_for( chapter.audio_file ) }
      %p Hier kannst du dir den Text vorlesen lassen
    
  

- if is_previous
  .chapter_actions{ id: "ch#{chapter.token}_actions" }
    = link_to image_tag( 'icon_infos.png' ), '#', class: 'icon visible', data: { action: 'show_hide', sel: "#ch#{chapter.token}_infos, #ch#{chapter.token}_hidden_actions" }
    .hidden_actions{ id: "ch#{chapter.token}_hidden_actions" }
      .separator &nbsp;|&nbsp;
      = link_to 'Hierher zurück', url_for( chapter ) + "#ch#{chapter.token}_actions"
    
  
  = render 'chapters/chapter_infos', chapter: chapter

