= link_to chapter.teaser, chapter, class: 'chapter_link teaser'
.text= truncate( chapter.content, length: 255 )

.chapter_graph
  %table.graph
    = render 'chapter_graph',
          chapter: chapter,
          level: 1
  

.actions
  = link_to image_tag( 'icon_infos.png' ), '#', class: 'icon', data: { action: 'show_hide', sel: "#ch#{chapter.token}_infos" }

.infos{ id: "ch#{chapter.token}_infos" }
  = 1 + chapter.total_follower_count
  Kapitel mit
  = chapter.words_count + chapter.total_follower_words
  Worten.
  %br
  - if chapter.total_follower_count > chapter.longest_chapter_count
    Der längste Erzählstrang hat
    = chapter.longest_chapter_count
    Kapitel mit
    = chapter.longest_words
    Worten.
  - else
    Dies ist der längste Erzählstrang.
  
  - if chapter.longest_branch_count > 0
    %br
    Es gibt dort
    
    - if chapter.total_branch_count > chapter.longest_branch_count
      = pluralize chapter.longest_branch_count, 'Abzweigung'
      und insgesamt sogar
      = chapter.total_branch_count
      Abzweigungen.
    - else
      = pluralize( chapter.longest_branch_count, 'Abzweigung' ) + '.'
    
  
  %br
  Dieses Startkapitel wurde von
  - if chapter.author
    = link_to chapter.author_name, chapter.author
  - else
    niemandem
  
  geschrieben und am
  =l chapter.updated_at
  veröffentlicht.

