%tr
  %td.chapter_bar{ class: "level#{level}" }
    = image_tag 'clear.gif', width: "#{(chapter.words_count.to_f / @max_word_count * 600).to_i - 5}", title: "#{chapter.author.name} - #{truncate chapter.teaser, length: 50} - #{chapter.words_count} Worte"
  
  %td.follower_bar{ class: "level#{level}" }
    %table.graph
      = render partial: 'chapter_graph',
            collection: chapter.followers.published,
            as: :chapter,
            locals: { level: level + 1 }
    
  

