.chapter_infos{ id: "ch#{chapter.token}_infos" }
  %p
    Dieses Kapitel wurde von
    - if chapter.author
      = link_to chapter.author_name, chapter.author
    - else
      niemandem
    
    geschrieben und am
    =l chapter.updated_at
    veröffentlicht. Es enthält
    = chapter.words_count
    Worte.
  
  %h3 Alle Kapitel bis hier
  %ul
    - chapter.previous_chapters.each do |previous|
      %li= link_to truncate( previous.teaser, length: 100 ), chapter_path( previous ) + "#ch#{previous.token}_teaser"
    
  

