= form_for @chapter do |f|
  - if @chapter.errors.any?
    #error_explanation
      %h2= "#{pluralize(@chapter.errors.count, "error")} prohibited this chapter from being saved:"
      %ul
        - @chapter.errors.full_messages.each do |message|
          %li= message
        
      
    
  
  = f.hidden_field :previous_id
  
  .field
    = f.label :teaser, 'Dein nächster Satz als Appetitanreger'
    = f.text_field :teaser
  
  .field
    = f.label :content, 'Dein Kapitel'
    = f.text_area :content, rows: 10
  
  .field
    = f.label :author
    = f.text_field :author
  
  .actions
    = f.submit 'Sichern', class: 'button'
    &nbsp;&nbsp;
    = cancel_action
  

