= form_for @chapter do |f|
  - if @chapter.errors.any?
    #error_explanation
      %h2= "#{@chapter.errors.count} Fehler verhindert, dass dieses Kapitel gesichert werden kann:"
      %ul
        - @chapter.errors.full_messages.each do |message|
          %li= message
        
      
    
  
  = f.hidden_field :previous_id
  
  .field
    - if @chapter.previous
      = f.label :teaser, 'Dein nächster Satz als Appetitanreger'
    - else
      = f.label :teaser, 'Der Titel deiner Geschichte'
    
    = f.text_area :teaser, rows: 3
  
  .field
    = f.label :checker, "Was ist #{@chapter.previous_chapters.size} plus #{@chapter.previous_id.to_i}?"
    = f.text_area :checker, placeholder: 'Müllschutzfrage ;-)'
  
  .actions
    = f.submit 'Starten', class: 'button'
    &nbsp;&nbsp;
    = cancel_action
  

