= form_for @chapter do |f|
  - if @chapter.errors.any?
    #error_explanation
      %h2= "#{pluralize(@chapter.errors.count, "error")} prohibited this chapter from being saved:"
      %ul
        - @chapter.errors.full_messages.each do |message|
          %li= message
        
      
    
  
  = f.hidden_field :previous_id
  
  .field
    = f.label :teaser, 'Der Titel deiner Geschichte'
    = f.text_field :teaser
  
  .field
    = f.label :content, 'Der Text deines Kapitels'
    = f.text_area :content, rows: 10
  
  %p.help
    Wenn du länger schreiben möchtest, wäre es vielleicht besser, du beginnst in einem Textprogramm und kopierst den Text dann hier rein.
  
  .field
    = f.label :audio_file, 'Audio Datei des Textes (optional)'
    = f.file_field :audio_file
  
  .actions
    = f.submit 'Vorschau', class: 'button'
    &nbsp;&nbsp;
    = cancel_action
  

