.content
  - if @chapter.previous
    = render 'chapter_detail', chapter: @chapter.previous, is_previous: true
  
  %p.help
    Prima, nun kannst Du Dein Kapitel beginnen.
  
  %h5 Schreiben
  
  = render partial: 'form_content', locals: { cancel_action: link_to( 'Abbrechen', @chapter ) }
  

