- h_title 'Alle Fortsetzungsgeschichten'
- h_description "Lies eine der #{@chapters.size} Fortsetzungsgeschichten und schreibe sie weiter."

.content.chapter_index
  = render 'layouts/flashs'
  
  %h3
    Die
    = pluralize @chapters.size, 'Fortsetzungsgeschichte'
  
  - if h_allow_new_chapter?
    %p= link_to 'Neues Startkapitel schreiben...', new_chapter_path
  
  %ul.chapter_list.main
    - @chapters.each do |chapter|
      %li.chapter_preview
        = render 'chapter_preview_main', chapter: chapter
      
    
  

