- if @chapter.previous
  - link = url_for( @chapter.previous ) + "#ch#{@chapter.previous.token}_actions"
- else
  - link = chapters_path

- cancel_action = link_to 'Abbrechen', link

.content
  - if @chapter.previous
    = render 'chapter_detail', chapter: @chapter.previous, is_previous: true
    
    %p.help
      Du kannst die Geschichte fortsetzen und dein eigenes Kapitel schreiben.
    
    %p.help
      Zuerst schreibst du einen Satz, der als Appetitanreger für ein Weiterlesen unter dem letzten Kapitel angezeigt wird.
    
    %br
    %h5
      Ein neues Kapitel
      - if @previous_chapters
        = @previous_chapters.size + 1
      
      beginnen
    
  - else
    %p.help
      Beginne deine neue Geschichte mit einem spannenden Titel.
    
  
  = render 'form_teaser', cancel_action: cancel_action
  

