- h_title @chapter.teaser
- h_description @chapter.lines.first

.content
  = render 'layouts/flashs'
  
  %h3.starter
    Eine Geschichte in
    = pluralize @previous_chapters.size + 1, 'Kapitel'
  
  - unless @previous_chapters.blank?
    .previous_chapters_block
      %h2 Was bisher geschah…
      - @previous_chapters.each_with_index do |chapter, i|
        = link_to chapter, class: 'previous_chapter_link' do
          .index= ( i + 1 ) < 10 ? "0#{i + 1}" : ( i + 1 ).to_s
          .link= chapter.teaser
        
      
    
  
  = render partial: 'chapter_detail', locals: { chapter: @chapter }
  
  - unless @chapter.unique_subscriptions.blank?
    %p.subscription_info
      = @chapter.unique_subscriptions.size
      = "Mensch#{@chapter.unique_subscriptions.size > 1 ? 'en' : ''}"
      = "wart#{@chapter.unique_subscriptions.size > 1 ? 'en' : 'et'}"
      auf das nächste Kapitel...
    
  
  .chapter_actions{ id: "ch#{@chapter.token}_actions" }
    = link_to image_tag( 'icon_infos.png' ), '#', class: 'icon', data: { action: 'show_hide', sel: "#ch#{@chapter.token}_infos" }
    
    - if @followers.size == 1
      = link_to 'Weiterlesen', url_for( @followers.first ) + "#ch#{@followers.first.token}", class: 'separated'
    
    - if @followers.size > 1
      = link_to 'Weiterlesen', '#', data: { action: 'show_hide', sel: "#ch#{@chapter.token}_followers" }, class: 'separated'
    
    - if @followers.blank?
      = link_to 'Weiterlesen', new_chapter_subscription_path( @chapter ) +  "#ch#{@chapter.token}_subscription", class: 'separated'
    
    - if @chapter.published?
      = link_to 'Weiterschreiben', new_chapter_path( previous_token: @chapter.token ) + "#ch#{@chapter.token}_actions", class: 'separated'
    - else
      = link_to 'Bearbeiten', edit_chapter_path( @chapter ) + "#ch#{@chapter.token}_actions}", class: 'separated'
      = link_to 'Veröffentlichen', publish_chapter_path( @chapter ), method: :put, data: { confirm: "Willst Du das Kapitel wirklich veröffentlichen?\nDas ist unwiderruflich..." }, class: 'separated'
      = link_to 'Löschen', @chapter, method: :delete, data: { confirm: "Willst Du das Kapitel '#{@chapter.teaser.truncate 40 }' wirklich löschen?\nDie Aktion kann nicht rückgängig gemacht werden!" }, class: 'separated danger'
    
  
  = render 'chapter_infos', chapter: @chapter
  
  - if @followers.size > 1
    .chapter_followers{ id: "ch#{@chapter.token}_followers" }
      %h5
        Wie es weitergehen könnte...
      
      %ul.chapter_list
        - @followers.each do |follower|
          %li.chapter_preview{ class: follower.status }
            = link_to url_for( follower ) + "#ch#{follower.token}_teaser", class: 'chapter_link' do
              .teaser= follower.teaser
              .infos
                - if follower.longest_chapter_count > 1
                  %span{ title: "hier weitere Kapitel: #{follower.longest_chapter_count}" }
                    = "#{follower.longest_chapter_count}K"
                  
                  \|
                
                %span{ title: "hier weitere Worte gesamt: #{follower.longest_words}" }
                  = "#{follower.longest_words}W"
                
                - if follower.total_branch_count > 0
                  \|
                  %span{ title: "hier weitere Abzweigungen: #{follower.total_branch_count}" }
                    = "#{follower.total_branch_count}A"
                  
                
              
            
          
        
      
    
  

