// --------------------------------------------

$white_col: #fff;
$light_gray_col: #ddd;
$green_col: #0A3;
$danger_col: #F00;

$beige_col: hsl( 40, 30%, 95% );
$turquise_col: #238599;

// --------------------------------------------

$shade_20: hsla( 0, 0%, 0%, 0.2 );
$shade_10: hsla( 0, 0%, 0%, 0.1 );

// --------------------------------------------

$text_color: #222;
$light_text_col: lighten( $text_color, 50 );

$main_background: $beige_col;
$content_background: white;

$infos_color: $light_text_col;
$line_col: $light_gray_col;
$draft_label_color: black;
$draft_background: hsla( 30, 100%, 80%, 0.5 );

$graph_color: lighten( $infos_color, 20 );

// --------------------------------------------

$draft_font: "Bradley Hand", "Comic Sans MS", sans-serif;

$bigger_than_smartphone: 450px;

$content_width: 38rem;

$font-family: "Charter", Georgia, Times, serif;