@import 'colors_constants';

// MIXINS -------------------------------------

$button_col: $white_col;
$button_bgcol: $turquise_col;
$secondary_button_col: $text_color;
$secondary_button_bgcol: $beige_col;

// ---------------------------------------------

@mixin clearfix {
  &::before, &::after {
    content: "";
    display: table;
  }
  
  &::after {
    clear: both;
  }
}

@mixin small_shadow {
  box-shadow: 0 2px 8px 0 $shade_20;
}

@mixin button {
  display: inline-block;
  margin-top: 0.25em;
  padding: 0.3rem 0.75rem;
  color: $button_col;
  background-color: $button_bgcol;
  border: none;
  border-radius: 0.35rem;
  
  font-family: $font-family;
  font-size: 1rem;
  font-weight: bold;
  text-decoration: none;
  
  vertical-align: baseline;
  
  &.danger {
    background-color: $danger_col;
  }
  &.secondary {
    color: $secondary_button_col;
    background-color: $secondary_button_bgcol;
  }
}

