// Place all the styles related to the Accounts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.accounts_list {
  margin: 0.5rem 0;
  list-style: outside none;
  
  .account_preview {
    .name {
      display: block;
      margin: 1.5rem 0 0;
      font-size: 1.26em;
      line-height: (1.5/1.26);
    }
  }
}
