// Place all the styles related to the Chapters controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// ---------------------------------------------

@import 'colors_constants';
@import 'mixins';

// ---------------------------------------------

// ---------------------------------------------

.chapter_list {
  margin: 0.5rem 0;
  padding: 0;
  list-style: outside none;
  
  .chapter_preview {
    .chapter_link {
      display: block;
      padding: 0.25rem 0;
      line-height: (1.5/1.26);
      
      .teaser {
        display: inline;
        font-size: 1.26em;
      }
      .infos {
        display: inline;
        color: $infos_color;
      }
    }
    
    &.draft {
      font-family: $draft_font;
    }
  }
  
  &.main {
    .chapter_preview {
      display: inline-block;
      width: 20rem;
      margin: 0 1.5rem 2rem 0;
      padding: 1.5rem 1rem;
      background-color: white;
      border: 1px solid $line_col;
      background-color: $content_background;
      @include small_shadow;
      
      .teaser {
        line-height: ( 1.5 / 1.26 );
        font-size: 1.19 * 1.19em;
      }
      .text {
        margin: 0.5rem 0;
        color: $text_color;
      }
      .chapter_graph {
        width: 100%;
        overflow-x: auto;
      }
      
      .graph {
        width: auto;
        margin: 0;
        padding: 0;
        
        tbody {
          border: 0;
          
          tr {
            background-color: transparent;
          }
        }
        
        .chapter_bar,
        .follower_bar {
          width: auto;
          height: 10px;
          margin: 0;
          padding: 0;
          vertical-align: top;
          background: transparent;
          line-height: 0.1;
          
          img {
            height: 7px;
            margin-right: 3px;
            background-color: $graph_color;
          }
        }
      }
      .actions {
        margin-top: 0.5rem;
        
        .icon img {
          width: 2em;
        }
      }
      .infos {
        display: none;
        margin-top: 0.5rem;
        color: $infos_color;
      }
    }
  }
}
@media screen and (max-width: $bigger_than_smartphone) {
  .chapter_list.main .chapter_preview {
    display: block;
    width: auto;
    margin: 0 0 1rem;
    
    font-size: 0.95rem;
    line-height: 1.5;
  }
}

.drafted .chapter_list {
  font-family: $draft_font;
}

.starter {
  padding-left: 1rem;
}

.subscription_info {
  color: $infos_color;
  font-style: italic;
}

.chapter_actions {
  @include clearfix;
  margin: 1rem 0;
  
  .icon img {
    width: 2em;
  }
  
  .visible {
    display: block;
    float: left;
    width: auto;
  }
  
  .hidden_actions {
    display: none;
  }
}

.chapter_infos {
  display: none;
  margin: 1rem 0;
  font-size: 0.83em;
  color: $infos_color;
  
  h3 {
    margin-top: 1rem;
  }
  ul {
    margin: 0 0 1rem;
    padding: 0;
    list-style: none outside;
    
    li {
      width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

.chapter_followers {
  display: none;
  margin: 0.5rem 0;
  
  ul {
    margin: 0.5rem 0;
    padding: 0;
    list-style: outside none;
  }
}

@media screen and (max-width: 400px) {
  .starter {
    padding-left: 0.5rem;
  }
}
