// Place all the styles related to the Chapters controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// ---------------------------------------------

@import 'colors_constants';
@import 'mixins';

// ---------------------------------------------

.chapter_detail {
  .teaser {
    position: relative;
    padding-top: 2rem;
    padding-left: 1rem;
    font-size: 1.19 * 1.19 * 1.19em;
    line-height: 1.2;
    color: $infos_color;
    
    .draft_label {
      position: absolute;
      top: 1rem;
      right: 0.5rem;
      padding: 0.25em 1em;
      color: $draft_label_color;
      background-color: $draft_background;
      transform: rotate( -45deg );
    }
  }
  .text_content {
    margin: 1rem 0;
  }
  .audio_file {
    margin: 1rem 0;
    
    p {
      color: $infos_color;
      font-size: 0.8em;
      font-style: italic;
    }
    
    audio {
      width: 100%;
    }
  }
  
  &.draft {
    font-family: $draft_font;
  }
}
@media screen and (max-width: $bigger_than_smartphone) {
  .chapter_detail .text_content {
    font-size: 0.95rem;
    line-height: 1.5;
  }
}
@media screen and (max-width: 400px) {
  .chapter_detail {
    .teaser {
      padding-left: 0.5rem;
    }
  }
}
