// ---------------------------------------------

@import 'colors_constants';

// ---------------------------------------------

// ---------------------------------------------

footer {
  max-width: $content_width;
  margin: 0 auto 2rem;
  padding: 0 3rem;
  color: $light_text_col;
  
  font-size: 0.86 * 0.86em;
}
@media screen and (max-width: $bigger_than_smartphone) {
  footer {
    margin-bottom: 0.5rem;
    padding: 0.5em 1rem;
  }
}