// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'colors_constants';
@import 'mixins';

// ---------------------------------------------

$form_element_bgcol: $white_col;
$akzent_col: $turquise_col;

// ---------------------------------------------

form {
  width: 100%;
  @include clearfix;
  
  fieldset {
    margin: 1.5rem 0;
    
    &:first-of-type {
      margin-top: 0.5rem;
    }
    
    legend {
      margin-bottom: 0.5rem;
      font-size: 1.19em;
    }
  }
  
  label {
    display: block;
    margin-bottom: 0.25rem;
    font-size: 0.84em;
    
    & + select,
    & + input[type=text],
    & + input[type=email],
    & + input[type=password],
    & + input[type=number] {
      margin-top: 0;
    }
  }
  
  input, select {
  }
  input[type=text],
  input[type=email],
  input[type=password],
  input[type=number],
  textarea {
    width: 100%;
    margin: 0.25rem 0;
    padding: 0.25rem 0.5rem;
    background-color: $form_element_bgcol;
    border: 1px solid $line_col;
    box-shadow: inset 0 1px 3px 0 $shade_10;
  }
  select {
    margin: 0.25rem 0;
  }
  
  input[type=checkbox] {
    float: left;
    width: auto;
    margin-top: 0.25rem;
  }
  input[type=checkbox] + label,
  .field_with_errors + .field_with_errors > label {
    margin-left: 1.5rem;
  }
  
  input[type=submit] {
    @include button;
  }
  
  .field {
    margin: 0.5rem 0;
  }
}
@media screen and (max-width: $bigger_than_smartphone) {
}