// ---------------------------------------------

@import 'colors_constants';
@import 'mixins';

// ---------------------------------------------

// ---------------------------------------------

html {
  box-sizing: border-box;
  font-size: 119%;
}

body {
  margin: 0;
  padding: 0;
  color: $text_color;
  background-color: $main_background;
  
  font-family: $font_family;
  font-weight: normal;
  line-height: 1.5;
}

a {
  color: $turquise_col;
  text-decoration: none;
  cursor: pointer;
}

p {
  text-rendering: optimizeLegibility;
}

h1 {
  font-size: 1.19 * 1.19em;
  font-weight: normal;
}

.nav_bar {
  @include clearfix;
  max-width: $content_width;
  margin: 0 auto;
  padding: 2rem 3rem 0.5rem;
  text-align: right;
  
  .logo_wort {
    display: block;
    float: left;
    width: 5rem;
    margin-left: -0.5rem;
    
    img {
      width: 100%;
    }
  }
  a {
    display: block;
    float: right;
    width: auto;
    margin-top: 0.25rem;
    margin-left: 1.5em;
  }
  
  &.main {
    .logo_wort {
      width: 8.5rem;
    }
    a {
      margin-top: 1rem;
    }
  }
}

.separator {
  display: inline;
  color: $line_col;
}
.separated {
  &::before {
    content: ' | ';
    color: $line_col;
  } 
}
@media screen and (max-width: $bigger_than_smartphone) {
  .separated::before {
    content: ' ';
    color: $line_col;
  } 
}

.danger {
  color: #a00;
}

.big_link {
  font-size: 1.26em;
}

@media screen and (max-width: $bigger_than_smartphone) {
  .nav_bar {
    padding: 0.5rem 0.75rem 0.25rem;
    
    .logo_wort {
      margin-left: -0.25rem;
    }
    
    &.main {
      .logo_wort {
        width: 7rem;
      }
      a {
        margin-top: 0.6rem;
      }
    }
  }
}

