// Place all the styles related to the Chapters controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'colors_constants';
@import 'mixins';

// ---------------------------------------------

// ---------------------------------------------

.history_list {
  margin: 0.5rem 0;
  padding: 0;
  list-style: outside none;
  
  .date {
    margin: 2rem 0 0.5rem;
    font-style: italic;
  }
  
  .history_preview {
    .infos {
      color: $infos_color;
    }
    .teaser {
      font-size: 1.26em;
      line-height: (1.5/1.26);
    }
    .text_content {
      margin-bottom: 1.5rem;
    }
  }
}

@media screen and (max-width: $bigger_than_smartphone) {
}