// ---------------------------------------------

@import 'colors_constants';
@import 'mixins';

// ---------------------------------------------

$callout_bgcol: $beige_col;
$success_col: $green_col;
$success_bgcol: lighten( $green_col, 55 );

// ---------------------------------------------

.callout {
  margin: 0 -1rem 1rem -1rem;
  padding: 0.25rem 1.5rem;
  background-color: $callout_bgcol;
  border: 1px solid $line_col;
  border-radius: 2rem;
  box-shadow: 0 4px 8px 0 rgba( 1, 1, 1, 0.25rem );
  text-align: center;
  
  &.success {
    border: 1px solid $success_col;
    background-color: $success_bgcol;
  }
  &.warning {
    border: 1px solid $danger_col;
    background-color: lighten( $danger_col, 45 );
  }
}