// ---------------------------------------------

@import 'colors_constants';
@import 'mixins';

// ---------------------------------------------

.content {
  max-width: $content_width;
  margin: 0 auto 1rem;
  padding: 3rem;
  border: 1px solid $line_col;
  background-color: $content_background;
  @include small_shadow;
  
  h1, h2, h3, h4, h5,
  p,
  form,
  a {
    margin: 0 auto;
  }
  h2 {
    margin-top: 1rem;
    font-size: 1em;
    font-weight: normal;
  }
  h3 {
    font-size: 1em;
    font-weight: normal;
    font-style: italic;
  }
  p {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    
    &.help {
      font-style: italic;
      color: $light_text_col;
    }
  }
  
  .previous_chapters_block {
    padding-left: 1rem;
    
    .previous_chapter_link {
      display: flex;
      column-gap: 0.5rem;
      
      .index {
        flex: 0 0 auto;
        color: black;
      }
      .link {
        flex: 1 1 auto;
      }
    }
  }
  
  &.chapter_index {
    max-width: none;
    background-color: transparent;
    border: none;
    box-shadow: none;
  }
}
@media screen and (max-width: $bigger_than_smartphone) {
  .content {
    margin-bottom: 0.5rem;
    padding: 1rem;
    border-left: 0;
    border-right: 0;
    
    p {
      font-size: 0.95rem;
      line-height: 1.5;
    }
  }
}
@media screen and (max-width: 400px) {
  .content {
    .previous_chapters_block {
      padding-left: 0.5rem;
    }
  }
}

