.infos{ id: "ch#{chapter.token}_infos" }
  - if chapter.author
    = link_to chapter.author_name, chapter.author
  - else
    niemand
  
  schrieb ein neues Kapitel mit
  = chapter.words_count
  Worten:

= link_to chapter.teaser, chapter_path( chapter ) + "#ch#{chapter.token}_teaser", class: 'teaser'

.text_content
  = h_markdown truncate( chapter.content, length: 255 )

