- h_title 'skribi - Was bisher geschah...'
- h_description "Eine chronologische Auflistung der letzten verfassten Kapitel und Autor*innen."

.content
  - unless alert.blank?
    .callout.warning
      %p= alert
    
  
  - unless notice.blank?
    .callout.success
      %p= notice
    
  
  %h5
    Was bisher geschah...
  
  %ul.history_list
    - @chapters.each do |chapter|
      - if @date != chapter.updated_at.at_midnight
        %li.date=l chapter.updated_at, format: :short_day
        - @date = chapter.updated_at.at_midnight
      
      %li.history_preview
        = render 'history_preview', chapter: chapter
      
    
  

