- h_main_nav
- h_title 'skribi - Eine Website für Fortsetzungsgeschichten'

.content
  %p
    Schreiben.<br/>
    Weiterschreiben.<br/>
    Noch weiter schreiben.
  
  %p
    Und lesen.
  
  %h1 Eine Website für Fortsetzungsgeschichten.
  %p.help
    Jemand beginnt und veröffentlicht ein kurzes Kapitel.<br/>
    Alle, die Lust haben, können die Geschichte dort fortsetzen.<br/>
  
  %p.help
    So einfach!
  
  
  %p
    = link_to 'Die Geschichten lesen...', chapters_path, class: 'big_link'
    %br
    = link_to 'Eine neue Geschichte schreiben...', new_chapter_path, class: 'big_link'
  %p
    = link_to 'Was bisher geschah...', history_path
    %span.separator &nbsp;|&nbsp;
    = link_to 'Mehr Hilfe bitte...', Chapter.find_by( token: 'hilfe' )
    %span.separator &nbsp;|&nbsp;
    = link_to 'skribi_io bei Twitter...', 'https://twitter.com/skribi_io', target: '_blank'
  

