%footer{ role: "contentinfo"}
  %p
    = "© #{Time.zone.now.year} Skribi."
    Alle Rechte vorbehalten.
    &bull;
    = link_to 'Login', login_path
    &bull;
    = link_to 'Impressum', impressum_path
    &bull;
    = link_to 'Datenschutz', datenschutz_path
  

