.nav_bar.main
  = image_tag 'logo_wort.png', class: 'logo_wort'
  
  - if current_account
    = link_to 'Ich', current_account
    = link_to 'Logout', logout_path
  - else
    = link_to 'Login', login_path
  

