.nav_bar
  = link_to image_tag( 'logo_wort.png', alt: 'skribi Logo' ), root_url, class: 'logo_wort'
  
  - if current_account
    = link_to 'Logout', logout_path
    = link_to 'Ich', current_account
  
  = link_to '...was ist das?', root_path

