%meta{ property: "og:type", content: h_og_type }
%meta{ property: "og:title", content: h_og_title }
%meta{ property: "og:description", content: h_og_description }
%meta{ property: "og:image", content: h_og_image }
%meta{ property: "twitter:card", content: h_og_type }
%meta{ property: "twitter:site", content: "@skribi_io" }
