<!DOCTYPE html>
<html class="no-js" lang="<%= I18n.locale %>">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="msapplication-TileColor" content="#eeeeee" />
    
    <%= render 'layouts/opengraph' %>
    
    <link rel="icon" href="/assets/logo_skribi_q96.png" />
    <link rel="apple-touch-icon-precomposed" href="/assets/logo_skribi_q152.jpg" />
    <link rel="icon" sizes="152x152" href="/assets/logo_skribi_q152.jpg" />
    <link rel="icon" sizes="192x192" href="/assets/logo_skribi_q192.jpg" />
    
    <title><%= h_seitentitel %></title>
    
    <%= stylesheet_link_tag 'application',
          'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'modernizr' %>
    <%= csrf_meta_tags %>
  </head>
  
  <body>
    <main>
      <% if h_main_nav? %>
        <%= render 'layouts/navbar_main' %>
      <% else %>
        <%= render 'layouts/navbar' %>
      <% end %>
      
      <%= yield %>
    </main>
    <%= render 'layouts/footer' %>
    
    <%= javascript_include_tag 'application',
          'data-turbolinks-track': 'reload' %>
  </body>
</html>
