= form_with model: account, local: true do |f|
  - if account.errors.any?
    #error_explanation
      %h2= "#{pluralize(account.errors.count, "error")} prohibited this account from being saved:"
      %ul
        - @account.errors.full_messages.each do |message|
          %li= message
        
      
    
  
  .field
    = f.label :email, 'Deine E-Mail Adresse'
    = f.text_field :email, placeholder: 'hanna.muster@meins.de'
  
  .field
    = f.label :password, 'Such Dir ein Kennwort aus'
    = f.password_field :password
  
  .field
    = f.label :password_confirmation, 'Bitte Kennwort nochmals bestätigen'
    = f.password_field :password_confirmation
  
  .actions
    = f.submit 'Anlegen', class: 'button'
  

