= form_with model: account, local: true do |f|
  - if account.errors.any?
    #error_explanation
      %h2= "#{pluralize(account.errors.count, "error")} prohibited this account from being saved:"
      %ul
        - @account.errors.full_messages.each do |message|
          %li= message
        
      
    
  
  .field
    = f.label :name, 'Dein Name'
    = f.text_field :name, placeholder: 'Hanna Muster'
  
  .field
    = f.label :description, 'Was Du über Dich sagen möchtest'
    = f.text_area :description, rows: 5
  
  .field
    = f.label :url, 'Wo man Dich im Internet findet'
    = f.text_field :url, placeholder: 'http://twitter.com/hanna_muster'
  
  .actions
    = f.submit 'Ändern', class: 'button'
    &nbsp;&nbsp;
    = cancel_action
  

