.content
  - unless alert.blank?
    .callout.warning
      %p= alert
  
  - unless notice.blank?
    .callout.success
      %p= notice
    
  
  %h4 Autorinnen und Autoren
  
  %ul.accounts_list
    - @accounts.each do |account|
      %li.account_preview
        = link_to account.name || 'unbekannt', account, class: 'name'
        
        = h_markdown truncate( account.description, length: 150 )
      
    
  

