.content
  %p.help
    Damit wir Deine Beiträge hier speichern können, solltest Du Dir kurz einen Login einrichten. Es tut nicht weh, im Gegenteil, es hilft... ;-)
  
  %p= link_to 'Hab schon einen Login &raquo;'.html_safe, login_path
  
  %br
  %h5 Neuen Login für dich anlegen
  
  = render 'form_email_pass', account: @account

