- h_user_nav
- h_title [ @account.name, 'Autor*in bei skribi' ].compact.join( ' - ' )
- h_description @account.description

.content
  - unless alert.blank?
    .callout.warning
      %p= alert
  
  - unless notice.blank?
    .callout.success
      %p= notice
    
  
  %h4= @account.name_text
  
  = h_markdown @account.description
  
  - unless @account.url.blank?
    %p= link_to 'Im Internet...', @account.url
  
  - if current_account == @account
    %p= link_to 'Bearbeiten', edit_account_path( @account )
  
  %br
  - if @account.chapters.published.size > 0
    %h5
      = @account.chapters.published.size
      veröffentlichte Kapitel von
      = @account.name || 'unbekannt'
    
    = render 'chapters/chapter_list', chapters: @account.chapters.published
  
  %br
  - if current_account == @account and @account.chapters.drafted.size > 0
    %h5
      = pluralize @account.chapters.drafted.size, 'entworfene'
      Kapitel von
      = @account.name || 'unbekannt'
    
    .drafted
      = render 'chapters/chapter_list', chapters: @account.chapters.drafted
    
  

